.events__wrap
  background first-color
  & h3
    font-family LatoLight
    font-size 1.67rem
    line-height 2.5rem
    margin 1.45rem auto 0 1.1rem
  & h4
    margin 0.7rem auto 0 1.167rem
    word-spacing 0.05rem
    letter-spacing 0.038rem
    font-size 0.68rem
  & p
    margin 0.22rem auto 0 1.167rem
    word-spacing 0.03rem
    letter-spacing 0.02rem
  & button
    margin 0.93rem auto auto 1.72rem
    button-appearance 7.167rem 1.18rem 0.56rem #ffffff first-color
    font-family LatoBlack//font-weight bold
    button-shadow 0.2rem first-border-color

.events__wrap__text_big
  font-size 4.056rem
  letter-spacing 0.009rem
  margin-right 0.5rem