.percentages h1
  margin 2.36rem auto 1.1rem auto
  word-spacing 0.03rem

.percentages_pie
  display inline-block
  width 5.4rem
  height 5.4rem
  font-family LatoLight
  margin 0 1.9rem 0 auto
.p0
  margin-right 0.8rem
  margin-left -0.6rem

.percentages_multi-pie-chart
  & > *
    max-width none
  display inline-block
  position relative
  width 5.4rem
  height 5.4rem
  margin 0 auto 0 0 0
  & div
    max-width none
    position absolute
    padding 0
    width 6rem
    height 6rem
    top 0
    margin-top -7.8%
    left -0.35rem

#multi
  max-width none
  margin 0
  padding 0





