@font-face
  font-family LatoRegular
  src url("fonts/Lato/Lato-Regular.ttf"),
    url("fonts/Lato/Lato-Regular.svg"),
    url("fonts/Lato/Lato-Regular.woff")

@font-face
  font-family LatoBlack
  src url("fonts/Lato/Lato-Black.ttf"),
    url("fonts/Lato/Lato-Black.svg"),
    url("fonts/Lato/Lato-Black.woff")

@font-face
  font-family LatoLight
  src url("fonts/Lato/Lato-Light.ttf"),
    url("fonts/Lato/Lato-Light.svg"),
    url("fonts/Lato/Lato-Light.woff")

@font-face
  font-family LatoBold
  src url("fonts/Lato/Lato-Bold.ttf"),
    url("fonts/Lato/Lato-Bold.svg"),
    url("fonts/Lato/Lato-Bold.woff")

@font-face
  font-family SourceSansProRegular
  src url("fonts/SourceSansPro/SourceSansProRegular.ttf"),
    url("fonts/SourceSansPro/SourceSansProRegular.svg"),
    url("fonts/SourceSansPro/SourceSansProRegular.woff")

@font-face
  font-family SourceSansProLight
  src url("fonts/SourceSansPro/SourceSansProLight.ttf"),
    url("fonts/SourceSansPro/SourceSansProLight.svg"),
    url("fonts/SourceSansPro/SourceSansProLight.woff")

photo-size=4.67rem

arrow-std-color=#ffffff
arrow-circle-color=#e5e5e5
pie-text-color=#9d9d9d
input-text-color=#747474
dark-text-color=#757575
message-icon-color=#8e8d8d
first-color=#4eb7a8
first-border-color=#28a290
second-color=#e75735
second-border-color=#bf3e1f
header-color=#4f4f4f
calendar-day-color=#f2f2f2;

circle(n, color)
  width n
  height n
  border-radius 50%
  background-color color

background-icon(path, n = 60%)
  background-image url(path)
  background-size n
  background-position 50% 50%
  background-repeat no-repeat

@media only screen and (min-width: 1680px) and (max-width: 1920px)
  html
    width 100%
    font-size 25px

@media only screen and (min-width: 1280px) and (max-width: 1679px)
  html
    width 100%
    font-size 23px

@media only screen and (min-width: 700px) and (max-width: 1279px)
  html
    width 100%
    font-size 18px
    background greenyellow

@media only screen and (min-width: 480px) and (max-width: 699px)
  html
    width 100%
    font-size 16px
    background grey

@media only screen and (min-width: 330px) and (max-width: 479px)
  html
    font-size 14px
    width 100%
  body
    max-width 100%
    background yellow
    & > div
      width 100%// margin-right 0 !important
  .calendar
  .search
    margin-right auto !important
    > div
      margin-right auto !important
      margin-left auto !important

@media only screen and (min-width: 250px) and (max-width: 329px)
  html
    font-size 14px
    width 100%
    background lightblue
  *:not(.slider__ruler_number)
    margin-left auto !important
    margin-right auto !important

@media only screen and (max-width: 249px)
  html
    font-size 14px
    width 100%
  *
    max-width none
    &:not(.slider__ruler_number)
      margin-left auto !important
      margin-right auto !important

*
  max-width 100%
  border none
  margin 0
  padding 0
  &:focus
    outline none
  font-family sans-serif

body//  width 38.89rem//  heigth 187.22rem
  margin 0 auto
  text-align center
  font-family LatoBlack
  & > div:last-of-type
    padding-bottom 6.056rem



h1,
h2
  font-size 1rem
  word-spacing 0.23rem
  letter-spacing 0.057rem
  text-transform uppercase
  color header-color

.ripple-effect
  position absolute
  border-radius 50%
  width: 50px//////////////
  height: 50px////////////////////
  background white
  animation ripple-animation 2s

@keyframes ripple-animation
  from
    transform scale(1)
    opacity 0.4
  to
    transform scale(2)
    opacity 0
@import "vendor/jquery.circlicful.css"
@import "vendor/jquery.progressbar.css"

@import "standard_buttons/standard_buttons"
@import "arrow_buttons/arrow_buttons"
@import "percentages/percentages"
@import "sliders/sliders"
@import "stages/stages"
@import "form_elements/form_elements"
@import "search/search"
@import "user_profile/user_profile"
@import "news_events/news_events"
@import "location/location"
@import "calendar/calendar"
@import "messaging/messaging"
@import "video/video"

@import "header/header"
@import "menu/menu"


