doctype html
head
    meta(charset="UTF-8")
    meta(name="keywords" content="иностранные языки, английский, испанский, немецкий, китайский,  русский для иностранцев, multilang, языковые курсы")
    meta(name="viewport" content="width=device-width; initial-scale=1.0")
    title Multilang
body
    include standard_buttons/standard_buttons
    include arrow_buttons/arrow_buttons
    include percentages/percentages
    include sliders/sliders
    include stages/stages
    include form_elements/form_elements
    include search/search
    include user_profile/user_profile
    include news/news
    include events/events
    include location/location
    include calendar/calendar
    include messaging/messaging
    include video/video
    //+video("https://player.vimeo.com/video/62980495?color=e75735")
    include header/header
    +header('Multilang', 'Новый подход к изучению языков!')
    include menu/menu
    +menu('Виды занятий и стоимость', 'Запись и оплата', 'Полезная информация', 'Контакты', 'О нас')
    main
        article
            +events("/events/second_ne.png", '21', 'Сент', 'Технологии и будущее', 'Лекция профессора на японском языке')
            +news('Новости', "/news/first_ne.png", 'Открыт набор на курсы английского', '20 сентября 2017', 'Набор в группы для начинающий и продолжающих')
    footer