doctype html
head
    meta(charset="UTF-8")
    title Multilang
body
    include standard_buttons/standard_buttons
    include arrow_buttons/arrow_buttons
    include percentages/percentages
    include sliders/sliders
    include stages/stages
    include form_elements/form_elements
    include search/search
    include user_profile/user_profile
    include news_events/news_events
    include location/location
    include calendar/calendar
    include messaging/messaging
    include video/video
    //+video("https://player.vimeo.com/video/62980495?color=e75735")
    include header/header
    +header('Multilang', 'Новый подход к изучению языков!')
    include menu/menu
    +menu()
    main
    footer