@import "../mixins/rectangle-wrapper.styl"
.news
  & h1
    margin 5.1rem auto 1.78rem auto
  & img
    background-color #ffffff
    width 5.278rem
    height 11.78rem
    align left

.news__wrap
  rectangle-wrapper 16rem 11.78rem 0.61rem
  background second-color
  & h3
    font-family LatoLight
    font-size 1.56rem
    line-height 1.46rem
    margin 1.22rem auto 0 1.22rem
  & h4
    margin 0.6rem auto 0 1.22rem
    word-spacing 0.24rem
  & p
    margin 0.7rem 1.35rem 0 1.22rem
    word-spacing 0.03rem
    letter-spacing 0.02rem


