mixin news-events(first_pic, second_pic)
    div.news-events
        h1 News & events
        div.news-events__first
            img(src=require('.'+first_pic))
            div.news-events__first__text
                h3 It's all going downhill
                h4 24 august 2013
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
        div.news-events__second
            img(src=require('.'+second_pic))
            div.news-events__second__text
                h3
                    span.news-events__second__text_big 24
                    span Aug
                h4 This is the title
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button Add to calendar