@import "../mixins/appearance1.styl"

.sliders
  & h1
    margin 1.85rem auto 1.85rem auto
  & form
    position relative
    margin 0 auto
    text-align left
  & input[type='range']
    appearance1 none
    outline none
    height 0.3rem
    width 14.44rem
    border-radius 0.6rem
    background arrow-circle-color
    margin 0 auto
  & input[type='range']::-webkit-slider-thumb
    appearance1 none
    outline none
    cursor pointer
  & input[type='range']::-moz-range-track
    height 0
  & input[type='range']::-ms-track
    appearance1 none
    background transparent
    border-color transparent
    color transparent
    height 0.3rem

.sliders__first
  margin-right 3.88rem
  & output
    position absolute
    background-color second-color
    width 2rem
    height 1.39rem
    line-height 1.39rem
    text-align center
    color white
    border-radius 0.32rem
    display inline-block
    font-family LatoBlack
    font-size 0.72rem
    bottom 110%
    left 0
    &:after
      content ""
      position absolute
      width 0
      height 0
      border-top 0.25rem solid second-color
      border-left 0.25rem solid transparent
      border-right 0.25rem solid transparent
      border-bottom none
      top 100%
      left 50%
      margin-left -0.25rem
  & input[type='range']::-webkit-slider-thumb
    circle 1.11rem second-color
  & input[type='range']::-moz-range-thumb
    circle 1.11rem second-color
    border none
  & input[type='range']::-ms-thumb
    circle 1.11rem second-color
  & input[type=range]::-ms-fill-lower
    background-color transparent
    height 0.3rem
  & input[type=range]::-ms-fill-upper
    background-color transparent
    height 0.3rem

input[type=range]::-ms-tooltip
	display: none;

.sliders__first_range1
  background arrow-circle-color

.sliders__second
  & input[type='range']::-webkit-slider-thumb
    circle 1.11rem first-color
  & input[type='range']::-moz-range-thumb
    circle 1.11rem first-color
    border none
  & input[type='range']::-ms-thumb
    circle 1.11rem first-color
    border none
  & input[type=range]::-ms-fill-lower
    background-color first-color
    height 0.3rem
  & input[type=range]::-ms-fill-upper
    background-color arrow-circle-color
    height 0.3rem

.sliders__first
.sliders__second
  display inline-block

.slider__ruler
  background transparent
  margin 0
  padding 0
  margin-left 0rem
  position absolute
  left 0
  top 1rem

.slider__ruler_number
  display inline-block
  margin 0.5rem 0 0 0
  padding 0
  width 1.05rem
  text-align center
  font-size 0.61rem
  color pie-text-color
  position relative
  top 0
  &:last-of-type
    margin-right 0  !important
  &:first-of-type
    margin-left -0.5rem !important
