day-width=2.22265rem

.calendar
  margin-left auto
  display inline-block
  margin-right auto
  & h1
    margin 2.72rem auto 1.389rem auto
  & .calendar__day-header
    border-radius 0.2rem 0.2rem 0 0
    height 6.056rem
    max-width 15.56rem
    line-height 6.056rem
    font-family LatoLight
    font-size 4.44rem
    color #ffffff
    background second-color
  & .calendar__content
    width 15.56rem
    height 17.84rem
    position relative
    & .clndr-controls
      display: inline-block;
      background second-border-color
      color #ffffff
      font-family LatoLight
      font-size 1.33rem
      height 2.36rem
      line-height 2.36rem
      & .clndr-next-button
      & .clndr-previous-button
        width day-width
        font-weight bold
        font-size 1.4rem
      & .month
        width 11.11rem
    & .clndr-grid
      width 100%
      background second-color
      text-align center
      display inline-block
      margin 0
      & .days-of-the-week
        height 12.72rem
        & .header-day
          float left
          background second-color
          height 1.61rem
          width day-width
          line-height 1.61rem
          font-size 0.5rem
          color #ffffff
          text-transform uppercase
        & .day
          font-family SourceSansProRegular
          font-size 1.11rem
          float left
          width day-width
          height day-width
          box-shadow 0 0 0 1px #ffffff
          line-height day-width
          color input-text-color
          background calendar-day-color
        & .adjacent-month
        & .empty
          color #ffffff
        & .day.today
          color #ffffff
          background second-color
    & .clndr-today-button
      text-transform uppercase
      font-size 0.72rem
      color input-text-color
      padding-left 1.05rem
      text-align left
      background arrow-circle-color
      height 2.72rem
      line-height 2.72rem
      position absolute
      top 84.5%
      width 14.51rem
      border-radius 0 0 0.2rem 0.2rem

.clndr-controls > div
  display inline-block