mixin standard-buttons()
    div.standard-buttons
        h1 Standard buttons
        div.standard-buttons__table
             button.standard-buttons__table_little button

             button.standard-buttons__table_button button
             button.standard-buttons__table_button button

             button.standard-buttons__table_little button


             button.standard-buttons__table_little button

             button.standard-buttons__table_button button

             button.standard-buttons__table_button button

             button.standard-buttons__table_little button


             button.standard-buttons__table_little button

             button.standard-buttons__table_button button

             button.standard-buttons__table_button button

             button.standard-buttons__table_little button