header
  background linear-gradient(to right, second-color 50%, first-color 50%)
  & a
    text-decoration none
    & h1
      display inline
      color #ffffff
      font-size 5rem
      text-shadow 1px 1px 2px #000000, 1px 1px 4px #ffffff
      word-spacing normal
      letter-spacing normal
  & p//
    font-family sans-serif//LatoRegular
    color #ffffff
    font-weight bold
    font-size 1.25rem
    word-spacing 0.23rem
    text-transform uppercase
    letter-spacing 0.057rem
    text-shadow 1px 1px 2px #000000, 1px 1px 4px #ffffff