mixin messaging()
    div.messaging
        h1 Messaging
        div.messaging__block
            div.messaging__block__header
                p Sarah Brown
            div.messaging__block__body
                div
                    div.messaging__block__body_chat-icon
                    div.messaging__block__body_camera-icon
                div.messaging__block__body_first-inbox-msg
                    p Hey! So are we cool to meet at the art gallery? Say 8pm
                div.messaging__block__body_second-sending-msg
                    p Yeah that sounds great. See you then.|
                button Reply