.location
  & h1
    margin 2.41rem auto 1.6rem auto
  & .location_map
    height 11.367rem//15.22rem
  & .location__info
  & .location_map
    margin 0 auto
    width 33rem
    border-radius 0.2rem 0.2rem 0 0
  & .location__info
    display flex
    justify-content space-between
    height 3.84rem
    background second-color
    color #ffffff
    text-align left
    vertical-align middle
    border-radius 0 0 0.2rem 0.2rem
    & div
      &:last-of-type
        margin-right 1.2rem
      & span
        display inline-block
        &:first-of-type
          margin 0.61rem 1.34rem auto 1.5rem//0
          font-family LatoLight
          font-size 1.67rem
      & input[type='button']
        margin-top 1rem
        width 1.5rem
        height 1.5rem
        background-color second-color
        &:first-of-type
          background-icon "location/location.svg" 100%
          margin-right 1rem
        &:nth-of-type(2)
          background-icon "location/marker-icon.png" 67%
.location__info_address
  font-family LatoBlack
  font-size 0.694rem
  text-transform uppercase
  word-spacing 0.053rem
  letter-spacing 0.04rem