mixin profile(name1, prof1)
    div.user-profile_photo
    div.user-profile__info
        h3.user-profile__info_name= name1
        h4.user-profile__info_profession= prof1
        div.user-profile__info__social
            div.user-profile__info__social_fb f
            div.user-profile__info__social_twitter
            div.user-profile__info__social_dribbble