rectangle-wrapper(w, h, f)
  width w//16rem
  height h//11.78rem
  display inline-block
  text-align left
  border-radius 0.2rem
  & > div
    display inline-block
    width 10.7rem
    vertical-align top
    color #ffffff
  & h4
    text-transform uppercase
  & h3
    font-weight normal
  & p
    font-family LatoRegular
  & p
  & h4
    font-size f//0.61rem