mixin arrow-buttons()
    div.arrow-buttons
        h1 Arrow buttons
        div.arrow-buttons__circle
            div.arrow-buttons__circle_arrow-left
        div.arrow-buttons__circle
            div.arrow-buttons__circle_arrow-right
        div.arrow-buttons__circle
            div.arrow-buttons__circle_arrow-left
        div.arrow-buttons__circle
            div.arrow-buttons__circle_arrow-right
        div.arrow-buttons__circle
            div.arrow-buttons__circle_arrow-left
        div.arrow-buttons__circle
            div.arrow-buttons__circle_arrow-right

