@import "../mixins/transform2.styl"

arrow(size, degr, vert, color = #ffffff)
  border size solid transparent
  border-left size solid color
  border-top size solid color
  transform2 translateY(vert), rotate(degr)

.arrow-buttons h1
  margin 2.5rem auto 1.94rem auto

.arrow-buttons__circle
  display inline-block
  circle 2.72rem arrow-circle-color
  margin 0 1.41rem 0 auto//  margin-right 1.4rem
  &:last-of-type
    margin-right auto
  &:hover
    background first-color
  &:active
    background #ffffff
    border 0.278rem solid first-color
    box-sizing border-box
    & .arrow-buttons__circle_arrow-left
      arrow 0.278rem -45deg 53% first-color
    & .arrow-buttons__circle_arrow-right
      arrow 0.278rem 135deg 53% first-color
      margin-left 10%

.arrow-buttons__circle_arrow-left
.arrow-buttons__circle_arrow-right
  width 0.56rem
  height 0.56rem

.arrow-buttons__circle_arrow-left
  arrow 0.278rem -45deg 70%
  margin-left 40%

.arrow-buttons__circle_arrow-right
  arrow 0.278rem 135deg 70%
  margin-left 20%
  &:active
    margin-left 10%
